@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik1/Rubik-Regular.ttf');
  font-weight: 100;
  font-style: monospace;
  font-display: block;
} */

@layer base {
  body {
    @apply bg-background;
  }
}
